annotated-types==0.7.0
greenlet==3.0.3
iniconfig==2.0.0
multimethod==1.10
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pandera==0.19.3
pluggy==1.5.0
psycopg2-binary==2.9.9
pydantic==2.7.4
pydantic_core==2.18.4
pytest==8.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.30
typeguard==4.3.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
wrapt==1.16.0
